<html ng-app="kayfabe">
    <head>
        <title>^app_name^ ^app_version^</title>

        <link rel="stylesheet" type="text/css" href="css/lib/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/lib/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css/kayfabe.css">
    </head>
    <body ng-controller="kayfabeController" style="padding-top: 50px">
        <div id="wrap">
            <navbar></navbar>
            <div ng-view></div>
            <div id="push"></div>
        </div>
        <copyright></copyright>

        <script type="text/javascript" src="js/lib/jquery.min.js"></script>
        <script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/lib/angular.min.js"></script>
        <script type="text/javascript" src="js/lib/angular-route.min.js"></script>
        <script type="text/javascript" src="js/lib/angular-sanitize.min.js"></script>

        <script type="text/javascript" src="js/directives/partials.js"></script>

        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/controllers/kayfabe.js"></script>
        <script type="text/javascript" src="js/controllers/landing.js"></script>
        <script type="text/javascript" src="js/controllers/category.js"></script>
        <script type="text/javascript" src="js/controllers/class.js"></script>
        <script type="text/javascript" src="js/controllers/tutorial.js"></script>
        <script type="text/javascript" src="js/controllers/search.js"></script>
    </body>
</html>
