<div class="jumbotron">
	<div class="container">
		<h1 ng-bind="category.name"></h1>
		<span ng-bind-html="category.htmlDescription"></span>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<h2>Classes</h2>
			<ul class="nav nav-pills nav-stacked">
				<li ng-class="{'active': selectedClass === class}" ng-repeat="class in category.classes">
					<a ng-href="{{'#category/' + category.name.toLowerCase() + '/' + class.name.toLowerCase()}}" ng-bind="class.name"></a>
				</li>
			</ul>
		</div>
		<div class="col-sm-9">
			<a ng-href="{{'#class/' + selectedClass.name.toLowerCase()}}">
				<h2 ng-bind="selectedClass.name"></h2>
			</a>
			<h4 ng-bind-html="selectedClass.htmlDescription"></h4>
			<hr/>
			<ul class="nav nav-tabs" role="tablist">
				<li ng-class="{'active': activeClassTab === 'variables'}" ng-if="selectedClass.variables.length">
					<a ng-click="setActiveClassTab('variables')">Variables</a>
				</li>
				<li ng-class="{'active': activeClassTab === 'methods'}" ng-if="selectedClass.methods.length">
					<a ng-click="setActiveClassTab('methods')">Methods</a>
				</li>
			</ul>
			<div class="tab-content">
				<div id="variables" class="tab-pane" ng-class="{'active': activeClassTab === 'variables'}">
					<div class="panel panel-default" ng-repeat="variable in selectedClass.variables">
						<div class="panel-heading">
							<h4 style="margin: 0">
								<span class="label label-primary parameter-type" ng-bind="variable.type" ng-if="!getParameterLink(variable)"></span>
								<span class="label label-primary parameter-type" ng-if="getParameterLink(variable)">
									<a ng-href="{{getParameterLink(variable)}}" ng-bind="variable.type"></a>
								</span>
								<a ng-href="{{'#class/' + selectedClass.name.toLowerCase() + '/' + variable.name.toLowerCase()}}" ng-bind="variable.name"></a>
							</h4>
							<span ng-bind-html="variable.htmlDescription"></span>
						</div>
					</div>
				</div>
				<div id="methods" class="tab-pane" ng-class="{'active': activeClassTab === 'methods'}">
					<div id="#method_{{method.name.toLowerCase()}}" class="panel panel-default" ng-repeat="method in selectedClass.methods">
						<div class="panel-heading">
							<h3 style="margin: 0">
								<a ng-href="{{'#class/' + selectedClass.name.toLowerCase() + '/' + method.name.toLowerCase()}}" ng-bind="method.name"></a>
							</h3>
							<span ng-bind-html="method.htmlDescription"></span>
							<p ng-if="!method.description.length && method.name === selectedClass.name" ng-bind="'Initializes a new ' + method.name + ' object'"></p>
						</div>
						<div class="panel-body" ng-if="method.parameters.length">
							<h4>Parameters:</h4>
							<div class="parameter" ng-repeat="parameter in method.parameters">
								<h4>
									<span class="label label-primary parameter-type" ng-bind="parameter.type" ng-if="!getParameterLink(parameter)"></span>
									<span class="label label-primary parameter-type" ng-if="getParameterLink(parameter)">
										<a ng-href="{{getParameterLink(parameter)}}" ng-bind="parameter.type"></a>
									</span>
									<span class="label label-default parameter-type" ng-if="parameter.optional">optional</span>
									<span ng-bind="parameter.name"></span>
								</h4>
								<span ng-bind-html="parameter.htmlDescription"></span>
							</div>
						</div>
						<div class="panel-footer" ng-if="method.returns">
							<h4>
								Returns <span class="label label-primary parameter-type" ng-bind="method.returns.type"></span>
							</h4>
							<span ng-bind-html="method.returns.htmlDescription"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
